#################################
######      SET UP         ######
#################################

[core]
#logging_conf_file=./logging.cfg
default-scheduler-host:localhost
default-scheduler-port:8082
max-reschedules=3
max-shown-tasks=10
max-graph-nodes=100000
email-prefix: [LUIGI]
email-sender: anavarreteriveras@gmail.com
error-email:  anavarreteriveras@gamil.com
rpc-connect-timeout=100.0

[postgres]
marker-table: luigi_marker

###################################
###### GENERAL PARAMS #############
###################################
[schemas]
names=raw, grids, results

[data]
downloads=built_lds, population, settlements, city_lights, dem, water_bodies, 
after=slope, urban_center

[general]
city=amman #, irbid, mafraq
grid_size=500 # in meters
esri=32236

urban_built_threshold=40
urban_population_threshold=75
urban_cluster_threshold=5000

dense_built_threshold=50
dense_population_threshold=375
dense_cluster_threshold=50000

experiment_path=../experiment.yaml
grid_tables_path=commons/grid_tables.yaml

year_train=1990
year_test=2000
year_predict=2014

model_comment=test
features_table_prefix=features_test
labels_table_prefix=labels_test

############## DATA ##############
[built_lds]
params=years
years=1990, 2000, 2014

[city_lights]
params=years
years=1995, 2000, 2013

[dem]

[population]
params=years
years=1990, 2000, 2015

[settlements]
params=years
years=1990, 2000, 2015

[water_bodies]

[urban_center]

[slope]

[urban_center]

#####################################
########  CITY PARAMETERS ##########
#####################################
[ammen]
## etl parameters
city_center=111,222


[irbid]
## raw parameters
city_center=


[mafraq]
## raw paraemeters
city_center=

